* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Poor Story", cursive;
  font-family: "Shadows Into Light", cursive;
  font-family: "Shantell Sans", cursive;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Img/bgimage.jpg");
}

.container{
   width: 100%;
   max-width: 410px;
   padding: 15px 25px;
   overflow: hidden;
   box-shadow: 0 0 0 10px #fff ;
   background: #fff;
   border-radius: 7px;
}

button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav button{
    width: calc(100% /2 - 5px);
    font-size: 1.2rem;
    text-align: center;
    height: 45px;
    letter-spacing: 2px;
    border-bottom: 2px solid #ccc;
}

nav button.active{
    border-bottom: 2px solid #0283d0 ;
    font-weight: 700;
    color: #0283d0;
}

::-webkit-scrollbar{
  display: none;
}